
body {

    background-image: url('http://media.cmgdigital.com/shared/lt/lt_cache/thumbnail/600/img/photos/2014/02/06/e7/7a/jwj-2013-SXSW-Day-Five-00258bs.jpg');
    background-repeat: no-repeat;
    background-position: center top;

	@media (min-width: 600px) {
    background-image: url('http://media.cmgdigital.com/shared/lt/lt_cache/thumbnail/1200/img/photos/2014/02/06/e7/7a/jwj-2013-SXSW-Day-Five-00258bs.jpg');
    background-repeat: no-repeat;
    background-position: center top;

	}

	@media (min-width: 1024px) {
    background: url('http://media.cmgdigital.com/shared/lt/lt_cache/thumbnail/2400/img/photos/2014/02/06/e7/7a/jwj-2013-SXSW-Day-Five-00258bs.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
}

#pagetitle {
	font-family: 'Alfa Slab One', cursive;
	color:white;
	font-weight: 400;
}
#legal {
	color: white;
}

#poster img, #promoad img {
	border: white 1px solid;
}



#details table {
    width: 100%;
    margin-bottom: 10px;
}
    

